body {
    margin: 0;
    padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

iframe {
    width: 100%;
    max-width: 480px;
    max-height: 95vh;
    aspect-ratio: 480 / 640;
    border: none;
}
